.row
  .col-md-8.col-md-offset-1
    .page-header
      %h2 Your personal details
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-3 control-label'
        .col-sm-9
          = f.email_field :email, autofocus: true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group#user-name
        = f.label :full_name, class: 'col-sm-3 control-label'
        .col-sm-9
          = f.text_field :full_name, autofocus: true, class: 'form-control'
      .form-group#user-name
        = f.label :phone_number, class: 'col-sm-3 control-label'
        .col-sm-9
          = f.text_field :phone_number, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password, class: 'col-sm-3 control-label'
        %i (leave blank if you don't want to change it)
        .col-sm-9
          = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation, class: 'col-sm-3 control-label'
        .col-sm-9
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :current_password, class: 'col-sm-3 control-label' do
          Current password
          = icon("asterisk",class: "fa mandatory-star")        
        .col-sm-9
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          %i (we need your current password to update your profile)   
      .actions
        = f.submit 'Update Profile', class: "btn btn-success pull-right"
      %br 
      %hr 
    
    %h4 Cancel my account
    %hr
    %h5
      #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger pull-right"}
      %span{style: "font-weight: bold"}Unhappy? Permanently delete your account from sanliam online portal.
    %br